<div class="flex justify-center">
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Ffreefrontend.com%2F500-error-page-html-templates%2F&psig=AOvVaw2II6CREynNgQUmospKIF8V&ust=1654551198516000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCPiVrNqhl_gCFQAAAAAdAAAAABAD">
</div>