<!DOCTYPE html>
<html lang="en" class="
bg-gray-600
">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <style type="text/tailwindcss">
    @layer utilities {
      .content-auto {
        content-visibility: auto;
      }
    }
  </style>
  <title>FreetoGame </title>
  <header class="
  flex  justify-center m-5
  "><a href="/"><img src="https://www.freetogame.com/assets/images/freetogame-logo.png"></a></header>
</head>
<body>
  <div class="
  grid
  ">
    <nav class="
    flex justify-end gap-4 m-5 
    ">
      
        <% if (user) {%>
          <!-- if the user is logged in -->
          <% console.log(user)%>
          <a class="border-blue-400 text-blue-400 border-2 p-3"
          href="/users/profile">profile</a>
          
           <a class="border-blue-400 text-blue-400 border-2 p-3"
           href="/users/logout">Logout</a>
          <%} else {%>
          <!-- if the user is not logged in -->
           <a class="border-blue-400 text-blue-400 border-2 p-3"
           href="/users/new">Sign up</a>
          
           <a class="border-blue-400 text-blue-400 border-2 p-3"
           href="/users/login">Login</a>
          
        <%}%>
       </nav>
       <nav class="
        flex justify-evenly
      ">
      <a class="
      hover:animate-bounce inline-block py-4 px-8 bg-blue-500 text-blue-100 rounded-lg" 
      href="/genre">GENRE</a>
      <a class="
      hover:animate-bounce inline-block py-4 px-8 bg-blue-500 text-blue-100 rounded-lg"
      href="/platform">PLATFORM</a>
      <a class="
      hover:animate-bounce inline-block py-4 px-8 bg-blue-500 text-blue-100 rounded-lg"
      href="/search">SEARCH</a>
    </nav>
  </div>
  
  
  <main class="
  
  ">
    <div class="
    flex  justify-center
    ">
    
  </div>
    <%- body %> 
  </main>
  
  
</body>
</html>