<form action="/search" method="post">
    <input type="radio" id="title" name="title" value="title">
    <label for="title">TITLE</label>
    <input type="radio" id="genre" name="genre" value="genre">
    <label for="genre">GENRE</label>
    <input type="radio" id="platform" name="platform" value="platform">
    <label for="platform">PLATFORM</label>
    <input type="text" placeholder="search game">
    <button type="submit">search</button>
</form>
