<form action="/search/results" method="GET">
    <!-- <input type="radio" id="title" name="searchBy" value="title">
    <label for="title">TITLE</label> -->
    SearchBy
    <input type="radio" id="category" name="searchBy" value="category">
    <label for="category">GENRE</label>
    <input type="radio" id="platform" name="searchBy" value="platform">
    <label for="platform">PLATFORM</label>
    
    <input type="text" name="input" placeholder="search game">
    <button type="submit">search</button>
</form>
