<h1>Top 10 games in Each Genre</h1>

<ul>
    <li>
        <a href="genre/:id">MMORPG</a>
    </li>
    <li>
        <a href="genre/:id">SHOOTER</a>
    </li>
    <li>
        <a href="genre/:id">MOBA</a>
    </li>
    <li>
        <a href="genre/:id">STRATEGY</a>
    </li>
    <li>
        <a href="genre/:id">RACING</a>
    </li>
    <li>
        <a href="genre/:id">SPORTS</a>
    </li>
    <li>
        <a href="genre/:id">SOCIAL</a>
    </li>
    <li>
        <a href="genre/:id">SANDBOX</a>
    </li>
    <li>
        <a href="genre/:id">OPEN-WORLD</a>
    </li>
    <li>
        <a href="genre/:id">SURVIVAL</a>
    </li>
    <li>
        <a href="genre/:id">PVE</a>
    </li>
    <li>
        <a href="genre/:id">SUPERHERO</a>
    </li>
    <li>
        <a href="genre/:id">PVP</a>
    </li>
</ul>