<h1 class="
flex justify-center m-5 text-3xl text-slate-300">Top 10 games by Genre</h1>

<ul class="
grid grid-cols-3 justify-evenly gap-5">
    <li class="flex justify-center py-8 px-8 bg-sky-900 text-sky-100 rounded-lg">
        <a href="genre/MMORPG" value="MMORPG">MMORPG</a>
    </li>
    <li class="flex justify-center py-9 px-8 bg-sky-900 text-sky-100 rounded-lg">
        <a href="genre/shooter">SHOOTER</a>
    </li>
    <li class="flex justify-center py-8 px-8 bg-sky-900 text-sky-100 rounded-lg">
        <a href="genre/moba">MOBA</a>
    </li>
    <li class="flex justify-center py-8 px-8 bg-sky-900 text-sky-100 rounded-lg">
        <a href="genre/strategy">STRATEGY</a>
    </li>
    <li class="flex justify-center py-8 px-8 bg-sky-900 text-sky-100 rounded-lg">
        <a href="genre/RACING">RACING</a>
    </li>
    <li class="flex justify-center py-8 px-8 bg-sky-900 text-sky-100 rounded-lg">
        <a href="genre/SPORTS">SPORTS</a>
    </li>
    <li class="flex justify-center py-8 px-8 bg-sky-900 text-sky-100 rounded-lg">
        <a href="genre/social">SOCIAL</a>
    </li>
    <li class="flex justify-center py-8 px-8 bg-sky-900 text-sky-100 rounded-lg">
        <a href="genre/sandbox">SANDBOX</a>
    </li>
    <li class="flex justify-center py-8 px-8 bg-sky-900 text-sky-100 rounded-lg">
        <a href="genre/open-world">OPEN-WORLD</a>
    </li>
    <li class="flex justify-center py-8 px-8 bg-sky-900 text-sky-100 rounded-lg">
        <a href="genre/survival">SURVIVAL</a>
    </li>
    <li class="flex justify-center py-8 px-8 bg-sky-900 text-sky-100 rounded-lg">
        <a href="genre/pve">PVE</a>
    </li>
    <li class="flex justify-center py-8 px-8 bg-sky-900 text-sky-100 rounded-lg">
        <a href="genre/superhero">SUPERHERO</a>
    </li>
    <li class="flex justify-center py-8 px-8 bg-sky-900 text-sky-100 rounded-lg">
        <a href="genre/pvp">PVP</a>
    </li>
</ul>