<h1>Top 10 games in Each Genre</h1>

<ul>
    <li>
        <a href="genre/MMORPG" value="MMORPG">MMORPG</a>
    </li>
    <li>
        <a href="genre/shooter">SHOOTER</a>
    </li>
    <li>
        <a href="genre/moba">MOBA</a>
    </li>
    <li>
        <a href="genre/strategy">STRATEGY</a>
    </li>
    <li>
        <a href="genre/RACING">RACING</a>
    </li>
    <li>
        <a href="genre/SPORTS">SPORTS</a>
    </li>
    <li>
        <a href="genre/social">SOCIAL</a>
    </li>
    <li>
        <a href="genre/sandbox">SANDBOX</a>
    </li>
    <li>
        <a href="genre/open-world">OPEN-WORLD</a>
    </li>
    <li>
        <a href="genre/survival">SURVIVAL</a>
    </li>
    <li>
        <a href="genre/pve">PVE</a>
    </li>
    <li>
        <a href="genre/superhero">SUPERHERO</a>
    </li>
    <li>
        <a href="genre/pvp">PVP</a>
    </li>
</ul>