<!-- Edit form for user nickname -->
<form class="flex justify-center text-slate-200 gap-5 m-40"
method="POST" action="/users/profile?_method=PUT">
    <label class="text-2xl" for="nickname">New Nickname :</label>
    <input class="text-slate-800" id="nickname" type="nickname" name="nickname" placeholder="enter your  new nickname" required/>
    <button class=" border-slate-200 border-2 p-2" 
    type="sumbit">Edit</button>
</form>