
<form method="POST" action="/users/profile?_method=PUT">
    <label for="nickname">New Nickname :</label>
    <input id="nickname" type="nickname" name="nickname" placeholder="enter your  new nickname" required/>
    <button type="sumbit">Edit</button>
</form>