<% if (msg) { %>
    <div>
        <p><%= msg %></p>
    </div>

<%}%>

<form class="
grid justify-center gap-4 
" action="/users/login" method="post">
    <label for="loginId">LOGIN ID:</label>
    <input id="loginId" type="loginId" name="loginId" placeholder="enter your login ID" required/>
    
    <lable for="password">PASSWORD:</lable>
    <input id="password" type="password" name="password" placeholder="enter your password" required/>

    <button type="submit">Login!</button>
</form>