<h1>Sign Up:</h1>

<form method="POST" action="/users">
  <label for="email">Email:</label>
  <input id="email"type="email" placeholder="enter your email...." name="email" />

  <label for="password">Password:</label>
  <input type="password" name="password" placeholder="password..."/>

  <button type="submit">Submit</button>

</form>
