<% if (msg) { %>
    <div>
        <p><%= msg %></p>
    </div>

<%}%>

<form class="
    grid justify-center gap-4 text-blue-400 m-10
" action="/users" method="post">
    <label for="loginId">LOGIN ID:</label>
    <input id="loginId" type="loginId" name="loginId" placeholder="enter your Login ID" required/>
    <label for="nickname">Nickname :</label>
    <input id="nickname" type="nickname" name="nickname" placeholder="enter your nickname" required/>
    <lable for="password">PASSWORD:</lable>
    <input id="password" type="password" name="password" placeholder="enter your password" required/>

    <button type="submit">SIgn up!</button>
</form>