<h2>User Profile</h2>

<h3>Thanks for being a user, <%= user.nickname%>!🎉</h3>  

<form method="GET" action="/users/profile/edit">
    <button type="submit">Edit my nickname</button>
</form>

<a href="/saved">Go to My Saved Games</a>