<div>
    <h2 class="flex justify-center">User Profile</h2>

    <h3 class="flex justify-center">Thanks for being a user, <%= user.nickname%>!🎉</h3>  

    <form class="flex justify-center" method="GET" action="/users/profile/edit">
        <button type="submit">Edit my nickname</button>
    </form>

    <a class="flex justify-center" href="/saved">Go to My Saved Games</a>
</div>
