
<div class="flex justify-evenly m-40">
    <a class="py-20 px-20 bg-sky-900 text-sky-100 rounded-lg"
    href="platform/pc">PC GAMES</a>
    <a class="py-20 px-20 bg-sky-900 text-sky-100 rounded-lg"
    href="platform/browser">BROWSER GAMES</a>
</div>

